<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
    <img src="https://i.ibb.co/dK8nH7Y/LEADERSHIP-PULSE.png" alt="LeaderShip Pulse Logo" class="rounded mx-auto d-block" style="width: 50%;">
</div>