<div style="page-break-after: always;">
    <div class="page">
        <h1>{{ 'pdf.result.client.intro.title' | trans }}</h1>
        <br/><br/>
        <p>{{ 'pdf.result.client.intro.data' | trans | raw }}</p>
    </div>
</div>