<div style="page-break-after: always;">
    <div class="page">
        <h1>{{ 'pdf.result.client.legend.title' | trans }}</h1>
        <table class="table table-striped mt-5 mb-lg-5 m-auto ">
            <tbody>
            <tr>
                <td style="background: red">Niveau Dysfonctionnel : note inférieur à 7</td>
            </tr>
            <tr>
                <td style="background: orange">Niveau Fonctionnel : note entre 7 et 8.5
                </td>
            </tr>
            <tr>
                <td style="background: lightgreen">Niveau Optimal : note supérieur à 8.5
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>