$primary: #077295;
//$secondary:     #FB5607;
//$success:       #3A86FF;
//$info:          #FF006E;
//$light: rgba(78, 241, 236, 0.56);

$secondary:     #FD5526; // une couleur complémentaire orange vibrante
$success:       #27A844; // un vert clair pour symboliser le succès
$info: #99cade; // un bleu clair pour symboliser l'information
$light:         #F4F4F6; // un gris clair pour les éléments « light »
