{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} - Erreur 404{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center"><h1>Erreur 404 - Page non trouvée.</h1>
            <p>La page que vous recherchez n'a pas été trouvée sur ce serveur.</p> <a
                    href="{{ path('app_dashboard') }}" class="btn btn-primary">Retour à l'accueil</a></div>
    </div>
{% endblock %}