{% block footer %}
    <div class="fixed-bottom">
        <footer class="my-5 pt-2 text-muted text-center text-small">
            <p class="mb-1">© Horizon Tech SAS - {{ "now" | date('Y') }}</p>
        </footer>
    </div>
{% endblock %}