{% extends 'email/email_template.html.twig' %}

{% block email_title %}
    {{ 'email.survey_request_confirm.title' | trans }}
{% endblock %}

{% block email_header %}
    {{ 'email.survey_request_confirm.header' | trans }}
{% endblock %}

{% block email_content %}
    <p>
        {{ 'email.survey_request_confirm.body.1' | trans | raw }}
    </p>
{% endblock %}